:root{
    --borderRadius: 5px;
}

#buttonTodo{
    display: grid;
    grid-template-columns: 30% 70%;
    width: 100%;
    gap: 10px;
}


button{
    position: relative;
    display: inline-block;
    height: 40px;
    border-radius: var(--borderRadius);
    padding: 0px 25px 0;
    text-align: left;
    line-height: 40px;
    margin: 2px 0;
    font-size: 19px;
    background-color: rgb(0, 115, 255);
    color: #fff;
    
    &:hover{
        background-color: rgb(0, 115, 255);
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        transition: 0.3s;
        cursor: pointer;
        .ti-check{
            display: inline-block;
            transition: 0.8s;
        }
    }
}

#buttonTime{
    height: 40px;
    border-radius: var(--borderRadius);
    padding: 0px 25px 0;
    line-height: 40px;
    text-align: center;
    font-size: 19px;
    background-color: rgb(0, 115, 255);
    color: #fff;

    &:hover{
        background-color: rgb(0, 115, 255);
        transition: 0.3s;
        cursor: pointer;
    }
}

.ti-check{
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(-50%, -50%);
    border-radius: var(--borderRadius);
    display: none;
    width: 30px;
    height: 30px;
    color: rgb(20, 186, 145);
    background-color: #07d8f4;
    align-items: center;
}
